{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{% static 'ui/favicon.ico' %}">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{% static 'ui/sitemap.xml' %}">
    <link rel="canonical" href="https://free-qrcoder.com"> 
    <meta name="robots" content="all">
    <meta name="description" content="Free QR code generator">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="Absolutely Free QR Generator">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Free QR code generator">
    <meta property="og:image" content="{% static 'ui/favicon.ico' %}">
    <meta property="og:logo" content="{% static 'ui/favicon.ico' %}">
    <meta property="og:url" content="https://free-qrcoder.com">
    
    <link rel="stylesheet" href="{% static 'ui/base.css' %}">
    <link rel="stylesheet" href="{% static 'ui/footer.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% block styles %}
    {% endblock %}
    <title>
        {% block title %}
        {% endblock %}
    </title>
  </head>
  <body>
    <header>
      <h1>Absolutely Free QR Code Generator</h1>
    </header>
    {% block content %}
    {% endblock %}
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-column">
                <h3>About Me</h3>
                <p>A free QR code generator with no ads. Built and deployed by Sam Rogers using AWS Lambda, API Gateway, Serverless and Django.</p>
            </div>

            <div class="footer-column">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/privacy">Privacy Policy</a></li>
                    <li><a href="/cookies">Cookie Policy</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h3>Follow Me</h3>
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/sampaulrogers/" aria-label="LinkedIn" class="fa fa-linkedin-square" target="_blank"></a>
                    <a href="https://github.com/samprogers/qr-coder" aria-label="Github" class="fa fa-github-square" target="_blank"></a>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            &copy; 2025 FreeQRCoder | All Rights Reserved
        </div>
    </footer>
  </body>
</html>
